/* You can add global styles to this file, and also import other style files */
.highlight {
    border:  solid 1px #ff2424;
}

.highlight-blue {
    border:  solid 1px #4511ff;
}

/****************
*   Components  *   
*****************/

.sidebar, .home, .catalog, .materials, .page404 {
    height: 100%;
    padding: 8px;
    margin: 0;
}

/****************
*      Rows     *   
*****************/
.row-no-padding {
    padding: 0;
}
.filter-btns {
    margin-top: 24px;
}

/****************
*     Buttons    *   
*****************/
.btn-filter {
    width: 100px;
}

.btn-filter.btn-clear {
    margin-left: 12px;
}